.search {
    background-color: #F5F5F5;
    color: #00D1B2;
    border-color: #00D1B2;
    font-weight: lighter;
    border-radius: 12px;
    width: 15%;
}

.plus {
    border-radius: 50%;
    border-color: #00D1B2;
    background-color: #00D1B2;
}

.create {
    border-radius: 0px;
    background-color: #2B78E4;
    color: white;
    font-weight: lighter;
    padding: 5px;
    box-shadow: 3px 4px 0px black;

}